body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    z-index: 0;
}


#navbar{
  height: 90px;
  width: 100%;
  background-color: #32AEB1;
  display: flex;
  position: fixed;

}
#doc1{
  margin-top: 20px;
  
  border: 0px solid red;
  width:20%;
  height: 40px;
  margin-left: 40px;
  
}
#doc1>img{
   height: 50px;
   
}
#wbox{
    width: 670px;
    height: 60px;
    background-color:#FFFFFF;
    margin-top: 20px;
    border-radius: 7px;
    display: flex;
    
}
#wbox>div{
    margin-top: 15px;
    margin-left: 5px;
    font-size: large;
    
}
#num{
    color: #32AEB1;
    border: 0px solid blue;
}
#ser{
    color: gray;
    padding-left: 9px;
    
}
#one{
    color: gray;
}
#icon{
    display: flex;
    padding-top: 45px;
    border: 0px solid blue;
    width: 27%;
    justify-content: space-around;
    font-size: large;
    color: #FFFFFF;
    
}
#sbar{
  height: 90px;
  width: 100%;
  background-color: #32AEB1;
  display: flex;
  padding-top: 100px;
  
  justify-content: space-evenly;
    
}


.wh{
    color: #FFFFFF;
    display: flex;
    font-size: large;
    border: 0px solid blue;
    height: 50px;
    margin-top: 50px;
    width: 200px;
    
    
    
    
   
    
}
.wh>img{
    height:auto;

    width: 50px;
    border-radius: 200px;
}
.wh>img+div{
    padding-top: 14px;
    margin-left: 10px;
}
#serv{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #e8f1f1;
 
}
#serv>div{
    padding-top: 30px;
}


#pinky{
    border: 0px solid teal;
    height: 150px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    background-color: #f5fafa;
    
}
.threebox{
    display: flex;
    border: 0px solid blue;
    width: 32%;
    margin-top: 45px;
    border-radius: 10px;
    padding-top: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 10px;
}
.threebox p{
    color: green;
}


.inside{
    display: flex;
    border: 0px solid blue;
    width: 32%;
    margin-top: 45px;
    border-radius: 10px;
    padding-top: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 10px;

}
#paybox{
    border: 0px solid teal;
    height: 170px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    background-color: #f5fafa;
    
}
.inside>div>img{
    height: 90px;
    width: 100%;
    padding-top: 15px;
}
#atpata{
    height: 250px;
    width: 98%;
    border: 0px solid blue;
    margin-left: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#sideme{
   
    border: 0px solid grey;
    height: auto;
    color: #32AEB1;
    padding-bottom: 10px;
   
}
#onee{
    border: 0px solid red;
    width: 30%;
    margin-top: 20px;
    font-size: large;
    
}


#two{
    border: 0px solid red;
    width: 30%;
    margin-top: 20px;
    font-size: large;
    display: flex;
}
#bt{
    background-color: #32AEB1;
    color: #f5fafa;
    width:150px;
    height: 40px;
    text-align: center;
    padding-top:10px ;
    margin-top: 5px;
    border-radius: 8px;
}
#two>div>img{
  width:200px ;
  padding-top: 10px;
}
#three{
   border: 0px solid red;
   width: 30%;
   margin-top: 20px;
   display: flex;
}
#space{
    width: 90%;
    border: 0px solid red;

}
h1{
    font-family:Arial, Helvetica, sans-serif
}
#awbox{
     background-color: #32AEB1;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    padding-top: 150px;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   
    

}

#awbox div{
    border:0px solid red;
    border-radius:8px;
    margin-top:30px;
    text-align:center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#awbox img{
    width:100%;
    border-radius:10px;
    
}
#awbox button{
    height:40px;
    width:80%;
    background-color:#32AEB1;
     border-radius:10px;
    border:none;
    margin-left:40px;
    text-align:center;
    /* margin:auto */
    font-size:20px;
    font-weight: bold;

}

.jaldi{
    height:450px;
    width: 20%;
    border: 0px solid rgb(187, 29, 29);
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px;
    margin-left: 10px;
    padding-left: 7px;
    margin-right: 7px;
   
  
  

}
.jaldi>div{
    width: 95%;
    height: 40px;
    background-color: #32AEB1;
    padding-top: 14px;
    text-align: center;
    border-radius: 7px;
    color: #FFFFFF;
   
}
.jaldi>img{
    border-radius: 10px;
}
.jaldi>h4{
    color: green;
}

/* #aw2box{
    background-color: #32AEB1;
    width: 100%;
    height: 250px;
    margin-top:300px;
    padding-top: 150px;
    display: flex;
} */
#aw2box{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   grid-template-rows: 200px;
   background-color: #32AEB1;
    width: 100%;
    height: 250px;
    margin-top:300px;
    padding-top: 150px;
    
    

}

#aw2box div{
    border:0px solid red;
    border-radius:10px;
    margin-top:30px;
    height:500px;
    text-align:center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#aw2box img{
    width:100%;
    border-radius:10px;
    
}
#aw2box button{

    height:40px;
    width:80%;
    background-color:#32AEB1;
     border-radius:10px;
    border:none;
    margin-left:40px;
    text-align:center;
    /* margin:auto */
    font-size:20px;
    font-weight: bold;
    margin-top: 0px;


}
#boc{
    display: grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns: repeat(5,250px);
    height: 1300px;
    margin-top: 70px;
    gap: 20px;
    width: 60%;
    text-align: center;
    font-size: large;
    margin-bottom: 70px;
 


}
#boc>div{
    border: 0px solid blue;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
}
#foo{
    margin-top: 300px;
    font-size: 30px;
    color: #32AEB1;
}
.krishna-2 {
    border-radius: 10px;
}
#just{
    width: 98%;
    height: 50%;
    border: 0px solid blue;
    padding-top: 20px;
    display: flex;
   
    justify-content: space-evenly;
    
}
.Maxi{
    border: 0px solid red;
    width: 20%;
    height: 98%;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    margin-left: 5px;
}
.Maxi>h3{
    color: green;
}
#aw3box{
    background-color: #b13278;
    width: 100%;
    height: 250px;
    margin-top:100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.jaldi3{
    height:300px;
    width: 20%;
    border: 0px solid rgb(187, 29, 29);
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px;
    margin-left: 10px;
    padding-left: 7px;
    margin-right: 7px;
    text-align: center;
}
#aw4box{
    background-color: #684d5a;
    width: 100%;
    height: 250px;
    margin-top:100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.jaldi4{
    height:300px;
    width: 20%;
    border: 0px solid rgb(187, 29, 29);
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px;
    margin-left: 10px;
    padding-left: 7px;
    margin-right: 7px;
    text-align: center;
}
#aw5box{
    background-color: #b38063;
    width: 100%;
    height: 250px;
    margin-top:100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px;
}
.jaldi5{
    height:320px;
    width: 20%;
    border: 0px solid rgb(187, 29, 29);
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 20px;
    margin-left: 10px;
    padding-left: 7px;
    margin-right: 7px;
    text-align: center;
    
}

#foter{
    border: 0.5px solid rgb(223, 220, 220);
    height:500px;
    width: 98%;
    margin: auto;
    padding-top: 50px;
}
#mahi{
    display: flex;
    justify-content: space-around;
    
    color: rgb(133, 128, 128);
}
#char{
    display: flex;
    border: 0px solid fuchsia;
    height: 60%;
    justify-content: space-around;
    padding-top: 80px;
  
}
#char>div{
    border: 0px solid gray;


}
#moon{
    display: flex;
}
#moon>div>img{
    width: 150px;
  
}
#sun{
    display: flex;
    justify-content: space-between;
    
  
}
/* #sliding>div>img{
    border-radius: 10px;
    border: 2px solid transparent;
} */
/* .iconic{
    border-radius: 15px;
    border: 1px solid transparent;
} */
.iconic > img{
    border-radius: 25px;
    /* border: 1px solid transparent; */
}
.items>img{
    height: 330px;
}
.item>img{
    border-radius: 25px;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: rgb(255, 0, 191);
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}
a{
    color: #FFFFFF;
    text-decoration-line: none;
}








